 body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:1024px;
    /*background-image: url("wave.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
 }
 #content{    
                align-content: center;
            }
            .buttons{
                align-content: center;
                margin: 0;
                position: absolute !important;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .buttons >button{
                margin:10px;
                width: 100px;
                height: 100px;
                align-content: center;
                text-align: center;
                color: white;
                border: 3px solid white;
                background:lightcoral;
            }
            
            #start-recording,#stop-recording{
                width: 200px;
                height:40px;
                display: block;
                margin: 10px;
                background-color:#5df3d2;
                border-radius: 5%;
                color: #7c0340;
                align-content: center;
                text-align: center;
                font-size:16px;  
            }

            #play-recording{
                width: 200px;
                height:40px;
                display: block;
                margin: 10px;
                background-color:#5df3d2;
                border-radius: 5%;
                color: #7c0340;
                align-content: center;
                text-align: center;
                font-size:16px;  
            }
            .heading{
                color: lightcoral;
                text-align: center;
                padding-top: 30px;
                font-family: 'Curlz MT';
            }
            
            .play{
                border: 2px solid green;
                /*background: transparent !important;*/
                animation: animate 1s linear 0s;
            }
            @keyframes animate{
                0%{
                    transform: scale(0.8);
                    opacity: 0.5;
                }
                20%{
                    transform: scale(1);
                    opacity: 0.8;
                }
                100%{
                    transform: scale(1.2);
                    opacity:1;
                }
            }
           /* .music{
                padding-top:25vh;
                height: 50vh;
                background-repeat: repeat-x;
                background: url(images.png);
                animation: music .2s linear ;
            }
            @keyframes music{
                0%{
                    background-position: 0% 0%;
                }
                100%{
                    background-position: 100% 0%;
                }
            }*/

            img{
                width: 100px;
                height: 100px;
                position: relative;
                -webkit-animation: mymove 2s infinite; 
                animation: mymove 2s infinite;
              }
            @-webkit-keyframes mymove {
                from {left: 0px;}
                to {left: 1000px;}
              }
              
              @keyframes mymove {
                from {left: 0px;}
                to {left: 1000px;}
              }
        
